<mat-toolbar color="primary">User Information</mat-toolbar>
<div class="users-container">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ user.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-content>
        <div class="user-info">
          <div class="user-info-section">
            <h4>Address</h4>
            <p>Street: {{ user.address.street }}</p>
            <p>Suite: {{ user.address.suite }}</p>
            <p>City: {{ user.address.city }}</p>
            <p>Zip Code: {{ user.address.zipcode }}</p>
          </div>
          <div class="user-info-section">
            <h4>Phone</h4>
            <p>{{ user.phone }}</p>
          </div>
          <div class="user-info-section">
            <h4>Company</h4>
            <p>Name: {{ user.company.name }}</p>
            <p>CatchPhrase: {{ user.company.catchPhrase }}</p>
            <p>BS: {{ user.company.bs }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>
